<% @mountains.each do |mountain| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= mountain.name %></h1>
    <h2><%= mountain.elevation %></h2>
    <h3><%= mountain.description %></h3>
  </div>
<% end %>