<% @mountains.each do |place| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= mountain.name %></h1>
    <i><%= mountain.elevation %></i><br /><br />
    <p><%= mountain.description %></p><br />
  </div>
<% end %>